#pokemonList {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

.normal {
    background-color: #8a5e44;
}

.grass {
    background-color: #43b45f;
}

.fire {
    background-color: #ff7230;
}

.water {
    background-color: #3671fa;
}

.electric {
    background-color: #ffeb3b;
}

.ice {
    background-color: #56d7db;
}

.ground {
    background-color: #ddad2a;
}

.flying {
    background-color: #50a3e7;
}

.poison {
    background-color: #a844a8;
}

.fighting {
    background-color: #ff3429;
}

.psychic {
    background-color: #ff2a6a;
}

.dark {
    background-color: #555555;
}

.rock {
    background-color: #99958a;
}

.bug {
    background-color: #67a33e;
}

.ghost {
    background-color: #531db6;
}

.steel {
    background-color: #51738f;
}

.dragon {
    background-color: #cf2121;
}

.fairy {
    background-color: #ff78a5;
}

.pokemon {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    margin: .5rem auto;
    padding: .5rem 1rem 1rem;
    color: #FFFFFF;
    border-radius: 1rem;
}

.pokemon .number {
    color: #00000040;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: right;
}

.pokemon .name {
    margin-bottom: 0;
    font-weight: 600;
    text-transform: capitalize;
}

.pokemon .detail {
    max-height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .type {
    padding: 0.25rem 0.4rem;
    margin: 0.25rem 0;
    font-size: 0.725rem;
    border-radius: 1rem;
    text-transform: lowercase;
    filter: brightness(1.3);
}

.electric .name, .types .electric, .types .ground {
    color: #303030;
    font-weight: bold;
}

.pokemon .detail img {
    max-width: 100%;
    height: 100%;
    align-self: flex-end;
}

@media screen and (min-width: 380px) {
    #pokemonList {
        margin: 0;
        grid-template-columns: 1fr 1fr;
    }

    .pokemon {
        margin: .5rem;
    }
}

@media screen and (min-width: 576px) {  
    #pokemonList {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 768px) {
    .pokemon .detail {
        max-height: 120px;
    }
}

@media screen and (min-width: 992px) { 
    #pokemonList {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}