* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.content {
    padding: 1rem;
}

.content h1 {
    margin: 0;
}

ol.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

ol.pokemons li {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 2rem 1rem 1rem;
    background-color: #48D0B0;
    color: #FFFFFF;
    border-radius: 1rem;
}

ol.pokemons li img {
    max-width: 75%;
    height: 75%;
    align-self: flex-end;
}